/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'tuClick-Ikusi';
@reset      : 'tuClick-Ikusi';

/* Elements */
@button     : 'tuClick-Ikusi';
@container  : 'tuClick-Ikusi';
@divider    : 'tuClick-Ikusi';
@emoji      : 'tuClick-Ikusi';
@flag       : 'tuClick-Ikusi';
@header     : 'tuClick-Ikusi';
@icon       : 'tuClick-Ikusi';
@image      : 'tuClick-Ikusi';
@input      : 'tuClick-Ikusi';
@label      : 'tuClick-Ikusi';
@list       : 'tuClick-Ikusi';
@loader     : 'tuClick-Ikusi';
@placeholder: 'tuClick-Ikusi';
@rail       : 'tuClick-Ikusi';
@reveal     : 'tuClick-Ikusi';
@segment    : 'tuClick-Ikusi';
@step       : 'tuClick-Ikusi';
@text       : 'tuClick-Ikusi';

/* Collections */
@breadcrumb : 'tuClick-Ikusi';
@form       : 'tuClick-Ikusi';
@grid       : 'tuClick-Ikusi';
@menu       : 'tuClick-Ikusi';
@message    : 'tuClick-Ikusi';
@table      : 'tuClick-Ikusi';

/* Modules */
@accordion  : 'tuClick-Ikusi';
@calendar   : 'tuClick-Ikusi';
@checkbox   : 'tuClick-Ikusi';
@dimmer     : 'tuClick-Ikusi';
@dropdown   : 'tuClick-Ikusi';
@embed      : 'tuClick-Ikusi';
@modal      : 'tuClick-Ikusi';
@nag        : 'tuClick-Ikusi';
@popup      : 'tuClick-Ikusi';
@progress   : 'tuClick-Ikusi';
@slider     : 'tuClick-Ikusi';
@rating     : 'tuClick-Ikusi';
@search     : 'tuClick-Ikusi';
@shape      : 'tuClick-Ikusi';
@sidebar    : 'tuClick-Ikusi';
@sticky     : 'tuClick-Ikusi';
@tab        : 'tuClick-Ikusi';
@toast      : 'tuClick-Ikusi';
@transition : 'tuClick-Ikusi';

/* Views */
@ad         : 'tuClick-Ikusi';
@card       : 'tuClick-Ikusi';
@comment    : 'tuClick-Ikusi';
@feed       : 'tuClick-Ikusi';
@item       : 'tuClick-Ikusi';
@statistic  : 'tuClick-Ikusi';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
